<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Login</title>
    <link rel="stylesheet" href="/static/css/login.css" type="text/css">
</head>
<body>
    <div class="login-container">
        <h1>Travel Login</h1>
        <div>
            <input type="text" placeholder="Email or Username" required id="identifier">
            <input type="password" placeholder="Password" required id="password">
            <button type="submit" id="loginBtn">Login</button>
        </div>
        <p><a href="forgot_pw">Forgot Password?</a></p>
        <p><a href="join">Sign Up</a></p>
    </div>
</body>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script>
		$(document).ready(function(){
			
			$("#loginBtn").on("click", function(){
				
				let id = $("#identifier").val();
				let pw = $("#password").val();

				if(id == ""){
					alert("id를 입력하세요");
					return;
				}
				
				if(pw == ""){
					alert("pw를 입력하세요");
					return;
				}
				
				$.ajax({
					type:"post"
					, url:"/user/login"
					, data:{"id":id, "pw":pw}
					, success:function(data){
						if(data.result == "success"){
							alert("로그인 성공");
							location.href="/main/home/logined"
						} else {
							alert("로그인 실패");
						}
					} 
					, error:function(){
						alert("로그인 에러");
					}
				})
				
				
			});
			
			
			
		});
		
		
	</script>
</html>
