body {
    font-family: Arial, sans-serif;
    background-image: url('/image/travel.jpeg'); /* 배경 이미지 삽입 */
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    background: rgba(0, 0, 0, 0.7); /* 배경 투명도 조정 */
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    width: 350px; /* 로그인 박스 크기 증가 */
    text-align: center;
    font-size: 16px;
}

.login-container h1 {
    margin-bottom: 30px;
    font-size: 24px;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #ff6f61;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background: #ff3b2d;
}

.login-container a {
    color: #ff6f61;
    text-decoration: none;
    font-size: 14px;
}

.login-container a:hover {
    text-decoration: underline;
}
