@charset "UTF-8";

header{
	background-color: #3B5998;
	height:130px;
}

#wrap{
	width: 1400px;
	height: 1600px;
	margin: 0 auto;
	font-family: "나눔고딕";
}

#region-card{
	background-color: #1263CE;
	width:80px;
	height:50px;
	font-size: 28px;
}

#region-preview{
	width: 1400px;
	height: 500px;
	border: 1px solid;
}

/*post\list.jsp*/
#search-btn{
	width:90px;
}

#order-btn{
	width: 80px;
}

/*post\upload.jsp*/
#post-input-form{
	width:900px;
	height:900px;
}

#input-text{
	width:880px;
}

#login-form{
	width:300px;
}

#post-detail-form{
	margin: 0 auto;
	text-align: center;
}

#post-body{
	border: solid 1px;
}